<div *ngIf="isLoading" class="rl-apreciacao">
  <maneger-loading></maneger-loading>
</div>

<form class="rl-apreciacao-form " *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="rl-apreciacao-form__inputs">
    <ion-select
      formControlName="relatorio"
      label="Selecione qual relatório deseja preencher"
      label-placement="stacked"
    >
      <ion-select-option value="1"
      >1. ARRANJO FÍSICO E INSTALAÇÕES
      </ion-select-option
      >
      <ion-select-option value="2"
      >2. INSTALAÇÕES E DISPOSITIVOS ELÉTRICO
      </ion-select-option
      >
      <ion-select-option value="3"
      >3. DISPOSITIVOS DE PARADA E PARTIDA
      </ion-select-option
      >
      <ion-select-option value="4">4. SISTEMAS DE SEGURANÇA</ion-select-option>
      <ion-select-option value="5"
      >5. DISPOSITIVOS DE PARADA DE EMERGÊNCIA
      </ion-select-option
      >
      <ion-select-option value="6"
      >6. COMPONENTES PRESSURIZADOS
      </ion-select-option
      >
      <ion-select-option value="7"
      >7. TRANSPORTADORES DE MATERIAIS
      </ion-select-option
      >
      <ion-select-option value="8">8. ASPECTOS ERGONÔMICOS</ion-select-option>
      <ion-select-option value="9">9. RISCOS ADICIONAIS</ion-select-option>
      <ion-select-option value="10"
      >10. MANUTENÇÃO, INSPEÇÃO, AJUSTE E REPAROS
      </ion-select-option
      >
      <ion-select-option value="11">11. SINALIZAÇÃOS</ion-select-option>
      <ion-select-option value="12">12. MANUAIS</ion-select-option>
      <ion-select-option value="13">13. PROCEDIMENTOS</ion-select-option>
      <ion-select-option value="14">14. CAPACITAÇÃO</ion-select-option>
      <ion-select-option value="15"
      >15. REQUISITOS ESPECÍFICOS DE SEGURANÇA
      </ion-select-option
      >
      <ion-select-option value="16">16. DISPOSIÇÕES FINAIS</ion-select-option>
      <ion-select-option value="17"
      >17. ANEXO III da NR-12 MEIOS DE ACESSO A MÁQUINAS E
        EQUIPAMENTOS
      </ion-select-option
      >
    </ion-select>
    <ion-select
      label="Selecione o preset"
      label-placement="stacked"
      (ionChange)="changePreset($event)"
    >
      <ion-select-option *ngFor="let preset of presets" [value]="preset.id" >{{preset.form.perigo}}</ion-select-option>
    </ion-select>
    <ion-input
      formControlName="perigo"
      labelPlacement="stacked"
      placeholder="Ex: Circuitos elétricos"
    >
      <div slot="label">Perigo
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-input>
    <ion-input
      formControlName="localizacao"
      labelPlacement="stacked"
      placeholder="Ex: Máquina e painel"
    >
      <div slot="label">Localização
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-input>
    <ion-input
      formControlName="atividade"
      labelPlacement="stacked"
      placeholder="Ex: Operação, manutenção, ajustes"
    >
      <div slot="label">Atividade
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-input>
    <ion-input
      formControlName="consequenciaRisco"
      labelPlacement="stacked"
      placeholder="Ex: Choque elétrico, morte"
    >
      <div slot="label">Consequência Risco
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-input>
    <ion-input
      formControlName="tipo"
      labelPlacement="stacked"
      placeholder="Ex: Elétrico, combinação de perigos"
    >
      <div slot="label">Tipo
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-input>
  </div>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Avaliação de Risco</ion-label>
      <ion-icon
        slot="end"
        name="help-circle-outline"
        id="open-estimativa"
        expand="block"
      ></ion-icon>
    </ion-item-divider>

    <ion-item>
      <ion-input
        formControlName="arpo"
        labelPlacement="stacked"
        placeholder="Probabilidade de ocorrência"
      >
        <div slot="label">PO
          <ion-text color="danger">(*)</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="arfe"
        labelPlacement="stacked"
        placeholder="Frequência de exposição ao risco"
        (change)="OnInputChange('arfe')"
      >
        <div slot="label">FE
          <ion-text color="danger">(*)</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="arglp"
        labelPlacement="stacked"
        placeholder="Grau de severidade do dano"
        (change)="OnInputChange('arglp')"
      >
        <div slot="label">GLP
          <ion-text color="danger">(*)</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        formControlName="arnp"
        labelPlacement="stacked"
        placeholder="Número de pessoas expostas ao risco"
        (change)="OnInputChange('arnp')"
      >
        <div slot="label">NP
          <ion-text color="danger">(*)</ion-text>
        </div>
      </ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Estimativa de Risco</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input
        formControlName="erpo"
        labelPlacement="stacked"
        placeholder="Probabilidade de ocorrência"
      >
        <div slot="label">PO
          <ion-text color="danger">(*)</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="arfe"
        label="FE"
        labelPlacement="stacked"
        placeholder="Frequência de exposição ao risco"
        (change)="OnInputChange('arfe')"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="arglp"
        label="GLP"
        labelPlacement="stacked"
        placeholder="Grau de severidade do dano"
        (change)="OnInputChange('arglp')"
      >
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        formControlName="arnp"
        label="NP"
        labelPlacement="stacked"
        placeholder="Número de pessoas expostas ao risco"
        (change)="OnInputChange('arnp')"
      >
      </ion-input>
    </ion-item>
  </ion-item-group>
  <div class="rl-apreciacao-form__inputs">
    <ion-textarea
      formControlName="consideracaoCondAtual"
      labelPlacement="stacked"
      placeholder="Escreva as considerações finais"
    >
      <div slot="label">Considerações da condição atual
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-textarea>
    <ion-textarea
      formControlName="recomendacoes"
      labelPlacement="stacked"
      placeholder="Escreva as recomendações"
    >
      <div slot="label">Recomendações
        <ion-text color="danger">(*)</ion-text>
      </div>
    </ion-textarea>
    <ion-button (click)="selectImage()">Escolher Imagem</ion-button>
    <input type="file" accept="image/*" #fileInput hidden (change)="onFileSelected($event)" />
    <ion-button (click)="generateRelatorio()">Adicionar ao relatório</ion-button>
  </div>
</form>

<ion-modal
  id="modal-estimativa"
  trigger="open-estimativa"
  (willDismiss)="onWillDismiss($event)"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon
            class="rl-apreciacao-form__back-button"
            name="arrow-back-outline"
            (click)="closeModal()"
          ></ion-icon>
        </ion-buttons>
        <ion-title>Método HRN</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Método HRN (Hazard Rating Number) a principal ferramenta para a avaliação
      de riscos em máquinas Entre os métodos de se estimar os riscos em
      máquinas, o mais frequentemente utilizado para se quantificar e graduar o
      nível de risco é o método HRN (Hazard Rating Number), também conhecido
      como, Número de Avaliação de Perigos. Este método classifica um risco de
      modo a se ter a noção se este é aceitável ou não. O método HRN tem grande
      eficácia, pois, a partir de um risco identificado, relacionado ao perigo
      considerado, tem-se uma função da gravidade do dano com a probabilidade de
      ocorrência deste mesmo dano para um dado número de trabalhadores expostos.
      <br/><br/>
      Para se quantificar os níveis de perigo em uma máquina, deve-se fazer um
      levantamento de todos os riscos/perigos encontrados nela (ex.: falta de
      aterramento elétrico, risco de prensagem de dedos, risco de acionamento
      involuntário, etc...) e então utilizar a seguinte fórmula em cada perigo
      encontrado:<br/>
      <br/><strong>HRN = LO x FE x DPH x NP</strong><br/>
      <br/>Onde HRN é o nível de risco quantificado, LO a probabilidade de
      ocorrência, FE a frequência de exposição ao risco, DPH o grau de
      severidade do dano e NP se refere ao número de pessoas expostas ao risco.
      <ion-img
        src="https://static.wixstatic.com/media/056409_81d1929294b14dd6a22cebf76ab421e3~mv2.png"
        style="margin-top: 1rem"
      ></ion-img>
      <ion-img
        src="https://static.wixstatic.com/media/056409_1ceb066506684bd69b7590011ae3e731~mv2.png"
      ></ion-img>
      <ion-img
        src="https://static.wixstatic.com/media/056409_09f3f7f8069049a186549172ef7119ec~mv2.png"
      ></ion-img>
      <ion-img
        src="https://static.wixstatic.com/media/056409_b8aa9eabde334492afefea41e1ab64d1~mv2.png"
      ></ion-img>
      <ion-img
        src="https://static.wixstatic.com/media/056409_8fcd73949fc7477db0e9bb1198db4e68~mv2.png"
      ></ion-img>
    </ion-content>
  </ng-template>
</ion-modal>
