<maneger-loading
  class="w-full h-full flex items-center justify-center"
  *ngIf="isLoading"
></maneger-loading>

<div class="maneger-form-list" *ngIf="!isLoading">
  <div class="maneger-form-list__container">
    @for (card of cardsOptions; track card) {
    <maneger-color-cards
      [card]="card"
      (onAddButtonClick)="addItemInReport($event)"
      (onDeleteButtonClick)="deleteItemInReport($event)"
    >
    </maneger-color-cards>
    }
  </div>

  <ion-grid [fixed]="true" class="maneger-form-list__grid">
    <ion-row class="maneger-form-list__grid-header">
      <ion-col size="2">Id</ion-col>
      <ion-col>Descrição</ion-col>
    </ion-row>
    <ion-row
      *ngFor="let report of reports"
      class="maneger-form-list__grid-row"
      style="--color: {{ report.color }};"
    >
      <ion-col size="2">{{ report.id }}</ion-col>
      <ion-col>{{ report.title }}</ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex justify-between p-4">
    <button class="bg-white w-24" (click)="returnPage()">
      <svg
        width="15"
        height="15"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
          stroke-linejoin="round"
          stroke-linecap="round"
        ></path>
      </svg>
      <span>Back</span>
    </button>
    <button class="bg-white" (click)="gerarRelatorio()">
      <span>Gerar relatório</span>
      <svg
        width="15"
        height="15"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
          stroke-linejoin="round"
          stroke-linecap="round"
        ></path>
      </svg>
    </button>
  </div>
</div>
