<normax-loading
  class="w-full h-full flex items-center justify-center"
  *ngIf="isLoading"
></normax-loading>

<div class="normax-forms-list" *ngIf="!isLoading">
  <div class="normax-forms-list__container">
    <normax-icon-button label="Criar form" (click)="createForm()">
      <ion-icon class="svg" name="add-outline"></ion-icon>
    </normax-icon-button>
    <normax-icon-button label="Gerar relatórios" *ngIf="forms.length > 0" (click)="createForm()">
      <ion-icon name="document-text-outline"></ion-icon>
    </normax-icon-button>

    <label class="normax-check-container" *ngIf="forms.length > 0">
      <input type="checkbox" [checked]="isAllChecked ? 'checked' : ''" (change)="toggleSelectedForms($event)"/>
      <div class="checkmark"></div>
      <div class="normax-check-container__title">Selecionar todos os formulários</div>
    </label>

    <div class="normax-forms-list__container__forms">
      @for (form of forms; track form) {
        <normax-form-card
          [formId]="form.id"
          [formName]="form.data.name"
          [datCreation]="form.data.date"
          [isSelected]="form.isSelected"
          (onSelectForm)="toggleFormSelect($event)"
          (onDeleteButtonClick)="deleteForm($event)"
          (click)="editForm(form.id)"
        ></normax-form-card>
      }
    </div>
  </div>

  <div class="flex justify-between normax-forms-list__button">
    <normax-icon-button label="Voltar" (click)="returnPage()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </normax-icon-button>
  </div>
</div>
