<div class="maneger-page playing bg-gradient-to-r from-blue-500 to-blue-600">
  <div class="maneger-page__header">
    <div class="maneger-page__image"></div>

    <div class="maneger-page__wave"></div>
    <div class="maneger-page__wave"></div>
    <div class="maneger-page__wave"></div>

    <div class="maneger-page__infotop">
      {{ header }}
      <br />
      <div class="maneger-page__name">{{ subheader }}</div>
    </div>
  </div>

  <div class="maneger-page__content">
    <ng-content></ng-content>
  </div>
</div>
