<div class="maneger-page playing bg-gradient-to-r from-blue-500 to-blue-600">
  <div class="maneger-page__header">
    <div class="maneger-page__image"></div>

    <div class="maneger-page__wave"></div>
    <div class="maneger-page__wave"></div>
    <div class="maneger-page__wave"></div>

    <div class="maneger-page__infotop">
      <img src="assets/icon/logo.svg" alt="Logo" />
      <br />
      <div class="maneger-page__name">{{ subheader }}</div>
    </div>
  </div>

  <ng-content class="maneger-page__content"></ng-content>
</div>
