<div class="normax-form-page">
  <div class="normax-form-page__buttons">
    <label class="normax-check-container">
      <input
        type="checkbox"
        [checked]="isSelected ? 'checked' : ''"
        (change)="emitSelectChange($event)"
      />
      <div class="checkmark"></div>
    </label>
    <div class="normax-form-page__title">
      {{ formName }}
    </div>
    <button
      aria-label="Delete item"
      class="delete-button"
      (click)="onDeleteButton($event)"
    >
      <svg
        class="trash-svg"
        viewBox="0 -10 64 74"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="trash-can">
          <rect
            x="16"
            y="24"
            width="32"
            height="30"
            rx="3"
            ry="3"
            fill="#e74c3c"
          ></rect>

          <g transform-origin="12 18" id="lid-group">
            <rect
              x="12"
              y="12"
              width="40"
              height="6"
              rx="2"
              ry="2"
              fill="#c0392b"
            ></rect>
            <rect
              x="26"
              y="8"
              width="12"
              height="4"
              rx="2"
              ry="2"
              fill="#c0392b"
            ></rect>
          </g>
        </g>
      </svg>
    </button>
  </div>
  <div class="normax-form-page__content" (click)="onClickCardEvent($event)">
    <div class="normax-form-page__subtitle">Criado em {{ datCreation }}</div>
  </div>
</div>
